# Version control
.git/
.github/
.gitignore

# Docker
.dockerignore
Dockerfile

# Editors & OS
.DS_Store
.vscode/
.zed/
.idea/

# Logs
*.log
pnpm-debug.log*
npm-debug.log*

# Build artifacts & dependencies
dist/
node_modules/
rxing-wasm/pkg/
rxing-wasm/target/

# Config & Documentation
.prettierignore
prettier.config.ts
LICENSE
README.md
